{{define "counter"}}
{{snippet "counter"}}0{{endSnippet}}

    <button class="ajax" type="button" >Increase</button>
    <a href="{{link "home"}}">Home</a>
    <a href="{{link "ping"}}">Ping</a>
{{end}}