<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <script type="application/javascript" src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {{template "content" .}}
</body>
</html>