<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <script type="application/javascript" src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{{template "navigation" . }}
    <div class="container-fluid my-2">
        {{template "content" .}}
    </div>
</body>
</html>