{{define "content"}}
    <div class="container">
        <h1>{{.H1}}</h1>
        <p>Gouef works</p>
        <div class="snippet--addAfterClick">
        <p>Gouef works nice</p>
        </div>

        {{template "counter" .}}
    </div>
{{end}}